@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BINE ATI VENIT! 👋 </h1>
    <p>Numele meu este Maghiar Alexandra Bianca si sunt studenta in anul 3 in cadrul Facultatii de Inginerie Electrica Cluj-Napoca</p>
    <p>Sunt pasionata de programare si doresc imbunatatirea abilitatilor, dar si invatarea unor noi tehnologii.
    </p>
    <p> <b>Experienta in domeniu:</b> In vara anului 2022 am participat la un internship in cadrul companiei Plexus unde am dezvoltat
        un test automat pentru validarea functionalitatilor unui injectomat folosind LabView si TestStand.</p>
    
    <br />
   
   <!-- Nu am dezvoltat pe parte de css momentan-->
    
   <div class=" app-description">
        <h3>Aplicatia dezvoltata</h3>
    <p>Aplicatia dezvoltata este un MVC in .NET in care am rezolvat o problema de programare care poate fi accesata dupa logarea/crearea unui cont
        care este salvat local in baza de date.
    </p>
    <p> Pentru logare/ inregistrare am folosit Entity Framework, iar rezolvarea problemei este o solutie originala</p>
    </div>
    
    <div class="testing">
        <b>Testare/QA: </b>
        <ul style="list-style: none;">
  <li>Trebuie verificata logarea si inregistrarea utilizatorului (entity framework)</li>
  <li>Testare daca utilizatorul introduce corect datele de intrare pentru problema</li> 
  <li>Testare functionalitati butoane</li>
</ul>
    </div>
</div>

<br />
<p> In cazul in care logarea nu functioneaza problema poate fi accesata prin link-ul de mai jos</p>
